<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>782528058849-6c00toc96j9v2okqu8n3gh2s1sjqkgkv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.782528058849-6c00toc96j9v2okqu8n3gh2s1sjqkgkv</string>
	<key>API_KEY</key>
	<string>AIzaSyAXTZGtItuBFQ3PJgsv7ZK8FGh81_NCgQQ</string>
	<key>GCM_SENDER_ID</key>
	<string>782528058849</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>one.galaxy.hlhpn.uat</string>
	<key>PROJECT_ID</key>
	<string>hlhpn2-uat</string>
	<key>STORAGE_BUCKET</key>
	<string>hlhpn2-uat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:782528058849:ios:309a8e992556e9758eeea0</string>
</dict>
</plist>